body {
  background-color: #f8f8f8;
  color: #333;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-padding: 4rem 2rem;
}

.main {
  padding: var(--section-padding);
}

.hero, .highlights, .testimonials, .about, .footerContent {
  max-width: var(--max-width);
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}