.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  list-style-type: none;
}